---
import Layout from '../layouts/Layout.astro';
import Stack from '../components/Stack.astro';
import Experience from '../components/Experience.astro';
import Projects from '../components/Projects.astro';

import About from '../components/About.astro';

---

<Layout title="Jordi Segura Lario" description="Jordi Segura Lario portfolio">
	<main class="mt-14">

		<Stack />
		
		<Experience />

		<Projects />

		<About />
		
	</main>
</Layout>

