<section id="experiencia">
    <div class="flex justify-start flex-col">
        <div class="flex gap-5 element-visible">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="40" height="40" viewBox="0 0 64 64" fill="#fff">
                <path d="M 26 6 C 23.81506 6 22 7.8150603 22 10 L 22 12 L 5 12 L 5 29 C 5 31.21 6.79 33 9 33 L 28 33 L 28 29 L 36 29 L 36 33 L 55 33 C 57.21 33 59 31.21 59 29 L 59 12 L 42 12 L 42 10 C 42 7.8150603 40.18494 6 38 6 L 26 6 z M 26 10 L 38 10 L 38 12 L 26 12 L 26 10 z M 30 31 L 30 37 L 34 37 L 34 31 L 30 31 z M 5 35 L 5 50 C 5 52.21 6.79 54 9 54 L 55 54 C 57.21 54 59 52.21 59 50 L 59 36 L 36 35.570312 L 36 39 L 28 39 L 28 35.429688 L 5 35 z"></path>
            </svg>
            <h1 class="text-4xl font-bold text-white mb-5">Experiencia laboral</h1>
        </div>
        <div class="relative flex flex-col justify-start mt-16">

            <!-- Experience 1 -->
            <div class="flex items-center mb-8 relative element-visible">
                <span class="present text-white px-2 rounded-lg border-2 border-indigo-20 font-bold" data-astro-cid-j7pv25f6="" data-astro-source-file="C:/Users/jordi/Desktop/Projects/jordilario-portfolio/src/pages/index.astro" data-astro-source-loc="16:94">
                    Actual
                </span>
                <div class="backdrop-blur-sm bg-white/30 shadow rounded-lg p-6 border-2 border-indigo-200">
                    <h3 class="text-lg font-semibold text-indigo-100">Golmar Sistemas de Comunicación S.A., Cornellà</h3>
                    <p class="text-indigo-400">Desarrollo de software - Full Stack</p>
                    <p class="text-indigo-200">
                        En Golmar, soy el responsable de diseñar y desarrollar software, enfocándome principalmente en el backend aunque también modifico y creo vistas en el frontend. Utilizo tecnologías como Java/JavaFX para aplicaciones de escritorio y PHP/Laravel para el backend, además de Blade / HTML / JQuery / CSS / Bootstrap / JavaScript para el frontend. También me encargo del mantenimiento y configuración de servidores en Ubuntu, y gestiono el control de versiones con Git.	
                    </p>
                    <span class="text-sm text-indigo-50">Junio 2019 — Presente</span>
                </div>
            </div>
    
            <!-- Experience 2 -->
            <div class="flex items-center mb-8 relative element-visible">
                <div class=" backdrop-blur-sm bg-white/30 shadow rounded-lg p-6">
                    <h3 class="text-lg font-semibold text-indigo-100">Fundació Privada Escoles Universitàries Gimbernat, Sant Cugat</h3>
                    <p class="text-indigo-400">Desarrollo de software - Full Stack</p>
                    <p class="text-indigo-200">En la Fundación Gimbernat, migré el backend del sitio web de PHP 5 a PHP 7 y creé APIs REST. Trabajé con PHP y Zend Framework en el backend y con HTML, JQuery, CSS, Bootstrap y JavaScript en el frontend. Además, desarrollé aplicaciones móviles con PhoneGap y gestioné el control de versiones con Git.</p>
                    <span class="text-sm text-indigo-50">Octubre 2018 — Junio 2019</span>
                </div>
            </div>

            <div class="flex items-center mb-8 relative element-visible">
                <div class=" backdrop-blur-sm bg-white/30 shadow rounded-lg p-6">
                    <h3 class="text-lg font-semibold text-indigo-100">Everis, Barcelona</h3>
                    <p class="text-indigo-400">Desarrollo de software - Full Stack</p>
                    <p class="text-indigo-200">En Everis, me encargué del mantenimiento de aplicaciones utilizando Java y Spring, gestionando tareas con Jira y controlando versiones con Git.</p>
                    <span class="text-sm text-indigo-50">Julio 2018 — Octubre 2018</span>
                </div>
            </div>

            <div class="flex items-center mb-8 relative element-visible">
                <div class=" backdrop-blur-sm bg-white/30 shadow rounded-lg p-6">
                    <h3 class="text-lg font-semibold text-indigo-100">SIGMA, Helping Universities Succeed, Sant Cugat</h3>
                    <p class="text-indigo-400">Desarrollo de software - Full Stack</p>
                    <p class="text-indigo-200">Durante mis prácticas en SIGMA, desarrollé aplicaciones utilizando Java con Spring y Maven, creé APIs REST, trabajé con arquitectura hexagonal y utilicé JSP y Angular. Además, gestioné el control de versiones con Git.</p>
                    <span class="text-sm text-indigo-50">Febrero 2018 — Junio 2018</span>
                </div>
            </div>
        </div>
        
    </div>
    <div class="mt-9 flex justify-center element-visible">
        <a href="#proyectos" class="text-white transition animate-bounce hover:text-indigo-500 active:text-indigo-700">
            <svg width="100" height="100" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7 13L12 18L17 13M7 6L12 11L17 6" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </a>
    </div>
</section>

<style>
    .present{
		position: absolute;
		top: -40px;
		z-index: 100;
		left: 10px;
		padding: 1rem;
		background-color: #0c1a2a;
		
	}
</style>