
<header >
    <div class="header-movement ">
        <nav class="w-fit rounded-full pl-4 pr-4 transition element-visible"  id="header">
            <ul class=" hidden sm:flex justify-center items-end space-x-6">
                <li><a class="relative block px-2 py-2 transition hover:text-indigo-200 dark:hover:text-indigo-400 text-white font-medium hover:font-bold" aria-label="inicio" id="inicio-link" href="#inicio"> Inicio </a></li>
                <li><a class="relative block px-2 py-2 transition hover:text-indigo-200 dark:hover:text-indigo-400 text-white font-medium hover:font-bold" aria-label="experiencia" id="experiencia-link" href="#experiencia"> Experiencia </a></li>
                <li><a class="relative block px-2 py-2 transition hover:text-indigo-200 dark:hover:text-indigo-400 text-white font-medium hover:font-bold" aria-label="proyectos" id="proyectos-link" href="#proyectos"> Proyectos </a></li>
                <li><a class="relative block px-2 py-2 transition hover:text-indigo-200 dark:hover:text-indigo-400 text-white font-medium hover:font-bold" aria-label="sobreMi" id="sobremi-link" href="#sobreMi"> Sobre mi </a></li>
                <li><a class="relative block px-2 py-2 transition hover:text-indigo-200 dark:hover:text-indigo-400 text-white font-medium hover:font-bold" aria-label="contacto" href="mailto:jordiseguralario@gmail.com"> Contacto </a></li>
            </ul>
            <ul class="flex sm:hidden justify-center items-end space-x-6">
                <li class="flex justify-center items-center flex-row hover:text-indigo-200 dark:hover:text-indigo-400 text-white hover:font-bold">
                    <a class="menu-btn relative block px-2 py-2 transition  font-medium " aria-label="menu" > Menu </a>
                </li>
                
            </ul>
        </nav>

        <div id="menu" class=" rounded-xl fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center transform scale-0 transition-transform duration-200 ease-in-out backdrop-blur-xl ">
            <div class="bg-transparent rounded-lg p-8">
                <ul>
                    <li class="text-3xl p-5 flex justify-center transition hover:text-indigo-200 dark:hover:text-indigo-400 text-white font-medium hover:font-bold"><a id="inicio-link-collapsed" href="#inicio">Inicio</a></li>
                    <li class="text-3xl p-5 flex justify-center transition hover:text-indigo-200 dark:hover:text-indigo-400 text-white font-medium hover:font-bold"><a id="experiencia-link-collapsed" href="#experiencia">Experiencia</a></li>
                    <li class="text-3xl p-5 flex justify-center transition hover:text-indigo-200 dark:hover:text-indigo-400 text-white font-medium hover:font-bold"><a id="proyectos-link-collapsed" href="#proyectos">Proyectos</a></li>
                    <li class="text-3xl p-5 flex justify-center transition hover:text-indigo-200 dark:hover:text-indigo-400 text-white font-medium hover:font-bold"><a id="sobremi-link-collapsed" href="#sobreMi">Sobre mi</a></li>
                    <li class="text-3xl p-5 flex justify-center transition hover:text-indigo-200 dark:hover:text-indigo-400 text-white font-medium hover:font-bold"><a href="mailto:jordiseguralario@gmail.com">Contacto</a></li>
                </ul>
            </div>
        </div>
    </div>
    
    <section class="w-full flex justify-center mt-24">
        <div class="flex flex-col gap-5">
                <div class="flex flex-col w-full justify-center gap-4 element-visible ">
                    <a href="/" class="flex justify-center transition hover:scale-105"><img class="w-60 h-60 rounded-full" src="/img/profile.jpg" alt="Logo Jordi Segura Lario"></a>
                    <div class="flex items-center justify-center" >
                        <span class="badge flex items-center transition bg-indigo-500 border border-transparent p-2 rounded-full text-white cursor-pointer h-12 hover:text-indigo-500 hover:bg-transparent hover:border hover:border-indigo-500 ">
                            Desarrollador de software full-stack
                        </span>
                    </div>
                </div>
                
            <div class="flex justify-around element-visible">
                <div class="m-1 flex flex-col gap-4">
                    
                    <div class="flex flex-row gap-6">
                        <a target="_blank" href="https://www.linkedin.com/in/jordi-segura-lario-10064512a/" class="py-2 px-4 flex flex-row text-white items-center gap-2 transition border border-transparent rounded-full hover:cursor-pointer hover:scale-110">
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="36" height="36" viewBox="0 0 50 50"
                            style="fill:#FFFFFF;">
                                <path d="M41,4H9C6.24,4,4,6.24,4,9v32c0,2.76,2.24,5,5,5h32c2.76,0,5-2.24,5-5V9C46,6.24,43.76,4,41,4z M17,20v19h-6V20H17z M11,14.47c0-1.4,1.2-2.47,3-2.47s2.93,1.07,3,2.47c0,1.4-1.12,2.53-3,2.53C12.2,17,11,15.87,11,14.47z M39,39h-6c0,0,0-9.26,0-10 c0-2-1-4-3.5-4.04h-0.08C27,24.96,26,27.02,26,29c0,0.91,0,10,0,10h-6V20h6v2.56c0,0,1.93-2.56,5.81-2.56 c3.97,0,7.19,2.73,7.19,8.26V39z"></path>
                            </svg>                        </a>
                        <a href="https://github.com/jordilario" target="_blank" class="py-2 px-4 flex flex-row text-white items-center gap-2 transition border border-transparent rounded-full hover:cursor-pointer hover:scale-110">
							<svg width="36px" height="36px" viewBox="0 0 256 249" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMinYMin meet"><g fill="#FFFFFF"><path d="M127.505 0C57.095 0 0 57.085 0 127.505c0 56.336 36.534 104.13 87.196 120.99 6.372 1.18 8.712-2.766 8.712-6.134 0-3.04-.119-13.085-.173-23.739-35.473 7.713-42.958-15.044-42.958-15.044-5.8-14.738-14.157-18.656-14.157-18.656-11.568-7.914.872-7.752.872-7.752 12.804.9 19.546 13.14 19.546 13.14 11.372 19.493 29.828 13.857 37.104 10.6 1.144-8.242 4.449-13.866 8.095-17.05-28.32-3.225-58.092-14.158-58.092-63.014 0-13.92 4.981-25.295 13.138-34.224-1.324-3.212-5.688-16.18 1.235-33.743 0 0 10.707-3.427 35.073 13.07 10.17-2.826 21.078-4.242 31.914-4.29 10.836.048 21.752 1.464 31.942 4.29 24.337-16.497 35.029-13.07 35.029-13.07 6.94 17.563 2.574 30.531 1.25 33.743 8.175 8.929 13.122 20.303 13.122 34.224 0 48.972-29.828 59.756-58.22 62.912 4.573 3.957 8.648 11.717 8.648 23.612 0 17.06-.148 30.791-.148 34.991 0 3.393 2.295 7.369 8.759 6.117 50.634-16.879 87.122-64.656 87.122-120.973C255.009 57.085 197.922 0 127.505 0"/><path d="M47.755 181.634c-.28.633-1.278.823-2.185.389-.925-.416-1.445-1.28-1.145-1.916.275-.652 1.273-.834 2.196-.396.927.415 1.455 1.287 1.134 1.923M54.027 187.23c-.608.564-1.797.302-2.604-.589-.834-.889-.99-2.077-.373-2.65.627-.563 1.78-.3 2.616.59.834.899.996 2.08.36 2.65M58.33 194.39c-.782.543-2.06.034-2.849-1.1-.781-1.133-.781-2.493.017-3.038.792-.545 2.05-.055 2.85 1.07.78 1.153.78 2.513-.019 3.069M65.606 202.683c-.699.77-2.187.564-3.277-.488-1.114-1.028-1.425-2.487-.724-3.258.707-.772 2.204-.555 3.302.488 1.107 1.026 1.445 2.496.7 3.258M75.01 205.483c-.307.998-1.741 1.452-3.185 1.028-1.442-.437-2.386-1.607-2.095-2.616.3-1.005 1.74-1.478 3.195-1.024 1.44.435 2.386 1.596 2.086 2.612M85.714 206.67c.036 1.052-1.189 1.924-2.705 1.943-1.525.033-2.758-.818-2.774-1.852 0-1.062 1.197-1.926 2.721-1.951 1.516-.03 2.758.815 2.758 1.86M96.228 206.267c.182 1.026-.872 2.08-2.377 2.36-1.48.27-2.85-.363-3.039-1.38-.184-1.052.89-2.105 2.367-2.378 1.508-.262 2.857.355 3.049 1.398"/></g></svg>
                        </a>
                        <a href="mailto:jordiseguralario@gmail.com" class="py-2 px-4 flex flex-row text-white items-center gap-2 transition border border-transparent rounded-full hover:cursor-pointer hover:scale-110">
                            <svg fill="#FFFFFF" height="36px" width="36px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
                            viewBox="0 0 299.997 299.997" xml:space="preserve">
                                <g>
                                    <g>
                                        <path d="M149.996,0C67.157,0,0.001,67.158,0.001,149.997c0,82.837,67.156,150,149.995,150s150-67.163,150-150
                                            C299.996,67.158,232.835,0,149.996,0z M149.999,52.686l88.763,55.35H61.236L149.999,52.686z M239.868,196.423h-0.009
                                            c0,8.878-7.195,16.072-16.072,16.072H76.211c-8.878,0-16.072-7.195-16.072-16.072v-84.865c0-0.939,0.096-1.852,0.252-2.749
                                            l84.808,52.883c0.104,0.065,0.215,0.109,0.322,0.169c0.112,0.062,0.226,0.122,0.34,0.179c0.599,0.309,1.216,0.558,1.847,0.721
                                            c0.065,0.018,0.13,0.026,0.195,0.041c0.692,0.163,1.393,0.265,2.093,0.265h0.005c0.005,0,0.01,0,0.01,0
                                            c0.7,0,1.401-0.099,2.093-0.265c0.065-0.016,0.13-0.023,0.195-0.041c0.63-0.163,1.245-0.412,1.847-0.721
                                            c0.114-0.057,0.228-0.117,0.34-0.179c0.106-0.06,0.218-0.104,0.322-0.169l84.808-52.883c0.156,0.897,0.252,1.808,0.252,2.749
                                            V196.423z"/>
                                    </g>
                                </g>
                            </svg>                                                  
                        </a>
                    </div>
                </div>
            </div>
            
            <div class="flex flex-col gap-5 element-visible">
                <h1 class="text-4xl font-bold text-white">!Hola!. Soy Jordi</h1>
                <p class="text-white text-left text-xl">
                    M치s de 6 a침os de experiencia en el desarrollo de software. <code class="text-indigo-300">Ingeniero inform치tico</code> en Barcelona. <code class="text-indigo-300">Full-stack</code> con especializaci칩n en el <code class="text-indigo-300">backend</code>.
                </p>
            </div>
        </div>
    </section>
</header>

<script>
        const header = document.getElementById('header');


        if(header){
            window.addEventListener('scroll', () => {

                if (window.scrollY > 0) {
                    header.classList.add('backdrop-blur-lg', 'bg-white/30'); // Cambia esto al color de fondo que desees
                } else {
                    header.classList.remove('backdrop-blur-lg', 'bg-white/30'); // Cambia esto al color de fondo que desees
                }

                const experienceSection = document.getElementById('experiencia');
                const projectsSection = document.getElementById('proyectos');
                const aboutSection = document.getElementById('sobreMi');
                
                const experienceLink = document.getElementById('experiencia-link');
                const projectsLink = document.getElementById('proyectos-link');
                const aboutLink = document.getElementById('sobremi-link');
                const homeLink = document.getElementById('inicio-link');

                const experienceLinkCollapsed = document.getElementById('experiencia-link-collapsed');
                const projectsLinkCollapsed = document.getElementById('proyectos-link-collapsed');
                const aboutLinkCollapsed = document.getElementById('sobremi-link-collapsed');
                const homeLinkCollapsed = document.getElementById('inicio-link-collapsed');

                const experienceTop = experienceSection?.offsetTop;
                const projectsTop = projectsSection?.offsetTop;
                const aboutTop = aboutSection?.offsetTop;
                const scrollPosition = window.scrollY;
            
                
                if (experienceTop && projectsTop && aboutTop) {


                    if (scrollPosition < experienceTop) {
                        homeLink?.classList.add('active');
                        homeLinkCollapsed?.classList.add('active');
                    }else{
                        homeLink?.classList.remove('active');
                        homeLinkCollapsed?.classList.remove('active');
                    }

                    if (scrollPosition >= experienceTop && scrollPosition < projectsTop) {
                        experienceLink?.classList.add('active');
                        experienceLinkCollapsed?.classList.add('active');
                    } else {
                        experienceLink?.classList.remove('active');
                        experienceLinkCollapsed?.classList.remove('active');    
                    } 

                    if (scrollPosition >= projectsTop && scrollPosition < aboutTop) {
                        projectsLink?.classList.add('active');
                        projectsLinkCollapsed?.classList.add('active');
                    } else {
                        projectsLink?.classList.remove('active');
                        projectsLinkCollapsed?.classList.remove('active');  
                    } 
                    
                    if (scrollPosition >= aboutTop) {
                        aboutLink?.classList.add('active');
                        aboutLinkCollapsed?.classList.add('active');
                    } else {
                        aboutLink?.classList.remove('active');
                        aboutLinkCollapsed?.classList.remove('active'); 
                    }  


                }     
            });

            window.dispatchEvent(new Event('scroll'));
            
        }

        const menuBtn = document.querySelector('.menu-btn');
        const menu = document.getElementById('menu');
        
        if (menu) {
            menu.style.transform = 'scale(0)';
        }

        if(menuBtn && menu){
            menuBtn.addEventListener('click', function() {
                menu.style.transform = 'scale(1)';
            });

            menu.addEventListener('click', function() {
                menu.style.transform = 'scale(0)';
            });
        }

       
        
</script>

<style>
    ul {
        list-style-type: none;
    }

    header nav ul li a {
        font-size: 1.1rem;
    }

    .header-movement{
        width: 100%;
        position: fixed;
        display: flex;
        margin: 0 !important;
        justify-content: center;
        left: 0;
        top: 10px;
        z-index: 99999;
    }

    .active{
        color: #4f46e5;
        text-decoration: underline;
        font-weight: bold;
    }

    .menu-btn{
        cursor: pointer;
    }

    @keyframes slideInFromLeft {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    .moveToRigth{
        animation: slideInFromLeft 1s ease-out forwards;
    }
</style>