<section id="proyectos">
    <div class="flex justify-start flex-col">
        <div class="flex gap-5 element-visible">
            <svg height="40px" width="40px" fill="#fff" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 44 44">
                <g>
                  <g>
                    <g>
                      <path d="M6,11H4v14c0,1.104,0.896,2,2,2h13v-2H6V11z M38,11v14H25v2h13c1.104,0,2-0.896,2-2V11H38z"/>
                    </g>
                  </g>
                  <g>
                    <g>
                      <path d="m21,31h2c1.104,0 2-0.896 2-2v-6c0-1.104-0.896-2-2-2h-2c-1.104,0-2,0.896-2,2v6c0,1.104 0.896,2 2,2zm0-8h2v6h-2v-6zm21-14h-11v-4c0-1.104-0.896-2-2-2h-14c-1.104,0-2,0.896-2,2v4h-11c-1.104,0-2,0.896-2,2v28c0,1.104 0.896,2 2,2h40c1.104,0 2-0.896 2-2v-28c0-1.104-0.896-2-2-2zm-27-4h14v4h-14v-4zm27,34h-40v-28h40v28z"/>
                    </g>
                  </g>
                </g>
              </svg>
            <h1 class="text-4xl font-bold text-white mb-5">Proyectos en los que he participado</h1>
        </div>

        <div class="flex flex-col mt-5 element-visible">
            <div class="columns-2">
                <div class=" w-full">
                    <img class="border border-indigo-200 rounded-lg h-56 transition hover:scale-110" src="/img/scrads.webp" alt="Scrads" >
                </div>
                <div class="w-full">
                    <h3 class="text-lg font-semibold transition text-indigo-100">Scrads</h3>
                    <p class="text-indigo-400">Desarrollador backend</p>
                    <p class="text-indigo-200">Ayudo en el desarrollo del backend de Scrads. Una plataforma que permite integrar un asistente basado en ChatGPT, el cual conoce los detalles de la empresa.</p>
                    <div class="text-indigo-100 mt-3 flex flex-col sm:flex-row gap-10 text-lg">
                      <div class="flex gap-2 cursor-pointer transition hover:scale-105 rounded-3xl border-2 border-indigo-500 px-5 py-2">
                        <svg height="30" viewBox="0 -.11376601 49.74245785 51.31690859" width="30" xmlns="http://www.w3.org/2000/svg"><path d="m49.626 11.564a.809.809 0 0 1 .028.209v10.972a.8.8 0 0 1 -.402.694l-9.209 5.302v10.509c0 .286-.152.55-.4.694l-19.223 11.066c-.044.025-.092.041-.14.058-.018.006-.035.017-.054.022a.805.805 0 0 1 -.41 0c-.022-.006-.042-.018-.063-.026-.044-.016-.09-.03-.132-.054l-19.219-11.066a.801.801 0 0 1 -.402-.694v-32.916c0-.072.01-.142.028-.21.006-.023.02-.044.028-.067.015-.042.029-.085.051-.124.015-.026.037-.047.055-.071.023-.032.044-.065.071-.093.023-.023.053-.04.079-.06.029-.024.055-.05.088-.069h.001l9.61-5.533a.802.802 0 0 1 .8 0l9.61 5.533h.002c.032.02.059.045.088.068.026.02.055.038.078.06.028.029.048.062.072.094.017.024.04.045.054.071.023.04.036.082.052.124.008.023.022.044.028.068a.809.809 0 0 1 .028.209v20.559l8.008-4.611v-10.51c0-.07.01-.141.028-.208.007-.024.02-.045.028-.068.016-.042.03-.085.052-.124.015-.026.037-.047.054-.071.024-.032.044-.065.072-.093.023-.023.052-.04.078-.06.03-.024.056-.05.088-.069h.001l9.611-5.533a.801.801 0 0 1 .8 0l9.61 5.533c.034.02.06.045.09.068.025.02.054.038.077.06.028.029.048.062.072.094.018.024.04.045.054.071.023.039.036.082.052.124.009.023.022.044.028.068zm-1.574 10.718v-9.124l-3.363 1.936-4.646 2.675v9.124l8.01-4.611zm-9.61 16.505v-9.13l-4.57 2.61-13.05 7.448v9.216zm-36.84-31.068v31.068l17.618 10.143v-9.214l-9.204-5.209-.003-.002-.004-.002c-.031-.018-.057-.044-.086-.066-.025-.02-.054-.036-.076-.058l-.002-.003c-.026-.025-.044-.056-.066-.084-.02-.027-.044-.05-.06-.078l-.001-.003c-.018-.03-.029-.066-.042-.1-.013-.03-.03-.058-.038-.09v-.001c-.01-.038-.012-.078-.016-.117-.004-.03-.012-.06-.012-.09v-21.483l-4.645-2.676-3.363-1.934zm8.81-5.994-8.007 4.609 8.005 4.609 8.006-4.61-8.006-4.608zm4.164 28.764 4.645-2.674v-20.096l-3.363 1.936-4.646 2.675v20.096zm24.667-23.325-8.006 4.609 8.006 4.609 8.005-4.61zm-.801 10.605-4.646-2.675-3.363-1.936v9.124l4.645 2.674 3.364 1.937zm-18.422 20.561 11.743-6.704 5.87-3.35-8-4.606-9.211 5.303-8.395 4.833z" fill="#ff2d20"/></svg>				
                        <span class="text-white font-medium flex items-center">
                            Laravel
                        </span>
                      </div>
                      <div class="flex gap-2 cursor-pointer transition hover:scale-105 rounded-3xl border-2 border-indigo-500 px-5 py-2">
                        <svg height="30px" viewBox="0 0 512 407.864" width="30px" xmlns="http://www.w3.org/2000/svg"><path d="m106.344 0c-29.214 0-50.831 25.57-49.863 53.3.929 26.641-.278 61.145-8.964 89.283-8.717 28.217-23.449 46.098-47.517 48.393v25.912c24.068 2.3 38.8 20.172 47.516 48.393 8.687 28.138 9.893 62.642 8.964 89.283-.968 27.726 20.649 53.3 49.868 53.3h299.347c29.214 0 50.827-25.57 49.859-53.3-.929-26.641.278-61.145 8.964-89.283 8.717-28.221 23.413-46.1 47.482-48.393v-25.912c-24.068-2.3-38.764-20.172-47.482-48.393-8.687-28.134-9.893-62.642-8.964-89.283.968-27.726-20.645-53.3-49.859-53.3h-299.355zm240.775 251.067c0 38.183-28.481 61.34-75.746 61.34h-80.458a8.678 8.678 0 0 1 -8.678-8.678v-199.593a8.678 8.678 0 0 1 8.678-8.678h80c39.411 0 65.276 21.348 65.276 54.124 0 23.005-17.4 43.6-39.567 47.208v1.2c30.176 3.31 50.495 24.21 50.495 53.077zm-84.519-128.1h-45.876v64.8h38.639c29.87 0 46.34-12.028 46.34-33.527-.003-20.148-14.163-31.273-39.103-31.273zm-45.876 90.511v71.411h47.564c31.1 0 47.573-12.479 47.573-35.931s-16.935-35.484-49.573-35.484h-45.564z" fill="#7952b3" fill-rule="evenodd"/></svg>
                        <span class="text-white font-medium flex items-center">
                            Bootstrap
                        </span>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
    <div class="mt-9 flex justify-center element-visible">
        <a href="#sobreMi" class="text-white transition animate-bounce hover:text-indigo-500 active:text-indigo-700">
            <svg width="100" height="100" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7 13L12 18L17 13M7 6L12 11L17 6" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </a>
    </div>
</section>